.remove-btn {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-btn:hover {
  color: #181818;
  transition: color 0.3s ease;
}
